/* Set all box sizing to border-box */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
    font-size: 0;
    color: rgba(251, 251, 251, 0);
    line-height: 0;
}

/* Insert background image  */
body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;
    color: #1f1d25;
    background-repeat: repeat-y;
}

body.paper1 {
    background-image: url(../img/background-paper.jpg);
}


/*  set initial fonts */
h1 {
    margin-top: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
    color: #ed1c24;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

/*  style header */
header {
    background-color: #ffffff;
    padding: 3% 0 0 0;
}

header img {
    padding: 0 1% 0 3%;
    width: 33%;
    display: inline-block;
}

header h1 {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.85rem;
}

header ul {
    margin: 0;
    padding: 1% 2% 2% 2%;
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 0.7rem;
}

Ul {
    list-style-type: none;
}

#menu-container ul.menu > li > a {
    /*background: #1f1d25;*/
}

header nav {
    background-color: #1f1d25;
    color: #ffffff;
}

header nav ul {
    padding: 2% 0;
    width: 100%;
}
